{% extends "base.html" %}
{% block title %}Password Reset{% endblock %}
{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>Password reset</h1>
        <p>请输入两次同样新密码，确保两次输入正确</p>
        <form class="form-horizontal" method="post" action=".">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-md-5 control-label text-right">New Password:</label>
                <div class="col-md-6 text-left">{{ form.new_password1 }}</div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label text-right">Confirm Password:</label>
                <div class="col-md-6 text-left">{{ form.new_password2 }}</div>
            </div>
            <input type="submit" value="Change my password" class="btn btn-primary btn-lg">
        </form>
    </div>
{% endblock %}