{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h3>登录</h3>
        <p>输入用户名和密码</p>
        <form class="from-horizontal" action="{% url 'account:user_login' %}" method="POST">
{#            url account为namespace  user_login为反常查找的名称，在account的命名空间中，查找名为user_login方法#}
{#            此方法替代默认登录页#}
            {% csrf_token %}
{#            {{ form.as_p }}#}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}" class="col-md-5 control-label"
                       style="color: red"><span class="glyphicon glyphicon-user"></span>Username</label>
                <div class="col-md-6 text-left">{{ form.username }}</div>
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}" class="col-md-5 control-label" style="color:blue;">
                    <span class="glyphicon glyphicon-floppy-open"></span>Password</label>
                <div class="col-md-6 text-left">{{ form.password }}</div>
            </div>
            <div>
            <input type="submit" value="Login" class="btn btn-primary btn-lg">
            </div>
        </form>
    </div>
{% endblock %}